* {
  margin: 0;
  box-sizing: border-box;
}


body{
    font-family: "Source Sans Pro", sans-serif;
    background-color: #F6F8F7;
background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    color: #243333;
    display: grid;
    grid-template-rows: auto 1fr auto;
  
}

header{
    background-color: #5F8575;
    height: 110px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.5s);
}


header div{
    display: flex;
    height: 100%;
    align-items: center;
}

header div div{
    width: 50%;
}

.left-content-head{

display: flex;
align-items: center;
margin-left: 10px;
}


.left-content-head img{
    width: 100px;
    height: 100px;
}


.main{
     padding: 2rem 1rem;
}

.container {
  max-width: 1800px;
  margin: 0 auto;

  display: grid;
  gap: 2rem;

}

.top-content{
    display: flex;
}

.card-content{
  
    width: 720px;
    height: auto;
}

.card{
     border: 1px solid red;

    color: black;
    width: 640px;
    height: auto;
    background-color: white;
    border: 0.5px solid rgb(196, 187, 187);
    border-radius: 4px;
    box-shadow: 1px 5px 1px rgba(0, 0, 0, 0.5s);
    position: relative;
}

.cardTitle{
    position: absolute;
      top: -0.6rem;
      left: 30px;
      background-color: #E6B566;
      color: white;
      width: 100px;
      text-align: center;
      border-radius: 4px;
      height: 24px;
}

.cardContent{
display: flex;
flex-direction: column;
justify-content: center;


}

.input-content{

  margin-top: 30px;
}

input, textarea{
    margin-top: 10px;
    height: 40px;
    padding-left: 6px;
    border-radius: 4px;
    outline: none;
    margin-bottom: 6px;
    margin-left: 10px;
    border: none;
    font-size: 18px;
    width: 96%;

    
}   

textarea{
       /* increase height */
margin-top: 2px;
  resize: vertical;
    font-size: 18px;
   

}


.emotion{
   
    width: 260px;
    height: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}


@keyframes hoverShake {
  0% { transform: scale(1) translateX(0); }
  25% { transform: scale(1.2) translateX(-2px); }
  50% { transform: scale(1.2) translateX(2px); }
  75% { transform: scale(1.2) translateX(-2px); }
  100% { transform: scale(1.2) translateX(0); }
}

/* Fade-in and fade-out animation */
/* Fade-in and fade-out animations */
@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
  0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.8); }
}

/* Emoji styling */
.emotion span {
  font-size: 2rem;
  display: inline-block;
  animation: fadeIn 0.5s ease forwards;
  transition: transform 0.2s ease;
}

/* Hover: shake + slight scale */
.emotion span:hover {
  animation: hoverShake 0.4s ease forwards; /* trigger once on hover */
  cursor: pointer;
}




button{
    position: absolute;
    bottom: -14px;
    right: 14px;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    border: none;
    background-color: #E6B566;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advice-panel{
    color: black;

    width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.advice-panel div{
 
    width: 80%;
    text-align: center;
   
    color: #E6B566;
}


.note-container{
  height: auto;
  display: grid;
  grid-template-columns: 360px 360px 360px 360px 360px;

}

.note-card{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}